:host ::ng-deep {

    input,
    label {
        display: block;
        @apply w-full;
    }

    .control-label {
        @apply mb-1 font-bold;
    }
}

:host ::ng-deep .custom-dd .p-dropdown { 
  width: 100%; 
}

::ng-deep .p-dropdown-panel {
    width: 100% !important;
}

::ng-deep .p-dropdown-items {
    width: 100% !important;
}

::ng-deep .p-dropdown-item {
    width: 100% !important;
}