<form [formGroup]="createProject" (ngSubmit)="onSubmit()">
  <div class="grid gap-6">

    <div>
      <label class="control-label">Collection (Optional)</label>
      <div class="w-full">
        <p-dropdown class="custom-dd" formControlName="selectedCollection" [options]="collections" optionLabel="name"
          placeholder="Select Collection"></p-dropdown>
      </div>
    </div>

    <div>
      <label class="control-label">Project Name</label>
      <input class="w-full" pInputText formControlName="name" placeholder="Enter project name">
    </div>

    <div>
      <label class="control-label">Description</label>
      <input class="w-full" pInputText formControlName="description" placeholder="Enter project description">
    </div>

    <div>
      <label class="control-label">Background Image</label>
      <input class="w-full" type="file" (change)="onFileChange($event)" accept="image/png, image/jpeg">
      <div *ngIf="imageSrc">
        <img [src]="imageSrc" alt="Image Preview" class="mt-4 w-full h-auto">
      </div>
    </div>
  </div>

  <div class="mt-8 text-right">
    <button class="m-w-50" [loading]="isLoading" type="submit" pButton label="Save"></button>
  </div>
</form>