<tr class="mt-3 p-selectable-row">
    <td class="text-center">
        <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"
            (onChange)="onCheckChange($event, student)"></p-checkbox>
    </td>
    <td>
        <div class="flex items-center pl-2">
            <img *ngIf="student.imgSrc" class="avatar-img" style="background: #cde9eaff; border-radius: 60px"
                [src]="student.imgSrc" [alt]="student.firstName" />

            <img *ngIf="!student.imgSrc" class="avatar-img" style="background: #cde9eaff; border-radius: 60px"
                [src]="defaultImg" [alt]="student.firstName" />
            <a class="text-black ml-2 name">{{ student.firstName }} {{
                student.lastName }}</a>
        </div>
    </td>
    <td>
        <a class="ml-1 text-primary underline" [href]="'mailto:' + student.email">{{ student.email }}</a>
        <span *ngIf="!student.email"></span>
    </td>
    <td>{{ student.phoneNo ?? 'Not have phone number' }}</td>
    <td>{{ student.address ?? 'Not have address' }}</td>
    <td class="text-center">
        <button class="action-col hover:border-primary bg-white flex h-100 items-center border py-2 px-4 rounded text-sm"
        (click)="confirmAward(student)">
            Award
        </button>
    </td>
</tr>