<div class="p-8 rounded-lg md:w-full bg-white">
  <div class="space-y-2 md:w-full sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
    <img class="block mx-auto h-36 w-48 sm:mx-0 sm:shrink-0" [src]="project.certificateImage" alt="Certificate" />
    <div class="flex-1 text-center space-y-2 sm:text-left">
      <div class="flex gap-8 items-center font-bold">
        <p class="text-2xl text-primaryText">{{project.name}}</p>
      </div>
      <p class="text-slate-500 font-medium">
        {{project.identifier.tutorName}}
      </p>
      <div class="flex items-center py-2 gap-4 items-center">
        <span class="font-bold text-sm text-primaryText">{{project.credentialsNo}} Credentials</span>
        <span
          class="evaluation-status-tag inline-flex items-center rounded-md bg-primary px-3 py-1 text-sm font-medium text-black ring-inset ring-primaryLight1">{{project.unpublishedNo}} Unpublished</span>
        <div>
          <i class="pi pi-clock mr-1 text-gray-500 text-sm"></i>
          <span>Updated {{project.lastUpdated}}</span>
        </div>
        <div *ngIf="project.status === 'Fully Configured'">
          <i class="pi pi-check-circle mr-1 text-green-500"></i>
          <span class="text-sm italic text-primaryText">
            {{ project.status }}
          </span>
        </div>
        <div *ngIf="project.status === 'Configured not complete'">
          <i class="pi pi-times-circle mr-1 text-red-500"></i>
          <span class="text-sm italic text-primaryText">
            {{ project.status }}
          </span>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-end mt-4">

      <div class="flex space-x-2">
        <div class="flex space-x-2">
          <button
            class="hover:bg-primary hover:text-white flex items-center text-primary border border-primary font-bold py-2 px-4 rounded text-sm">
            Create Credentials <i class="pl-2 pi pi-plus"></i>
          </button>
          <button
            class="hover:bg-primary hover:text-white flex items-center text-primary border border-primary font-bold py-2 px-4 rounded text-sm">
            Project Settings <i class="pl-2 pi pi-wrench"></i>
          </button>
          <button
            class="hover:bg-red-400 hover:text-white flex items-center text-primary border border-primary font-bold py-2 px-4 rounded text-sm">
            <i class="pi pi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>