<tr class="mt-3 p-selectable-row">
    <td class="text-center">
        <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"
            (onChange)="onCheckChange($event)"></p-checkbox>
    </td>

    <td>{{credential.id}}</td>

    <td>
        <i class="pi status-icon" [ngClass]="getStatusIcon(credential.publishStatus, 'pi-upload')"></i>
        <i class="pi status-icon" [ngClass]="getStatusIcon(credential.viewStatus, 'pi-user')"></i>
        <i class="pi status-icon" [ngClass]="getStatusIcon(credential.engagedStatus, 'pi-check-square')"></i>
        <i class="pi status-icon" [ngClass]="getStatusIcon(credential.linkedinStatus, 'pi-linkedin')"></i>
    </td>

    <td>
        <div class="flex items-center pl-2">
            <img *ngIf="credential.recipient.imgSrc" class="avatar-img"
                style="background: #cde9eaff; border-radius: 60px" [src]="credential.recipient.imgSrc"
                [alt]="credential.recipient.firstName" />

            <img *ngIf="!credential.recipient.imgSrc" class="avatar-img"
                style="background: #cde9eaff; border-radius: 60px" [src]="defaultImg"
                [alt]="credential.recipient.firstName" />
            <div class="flex flex-col  ml-2">
                <a class="text-black name">{{ credential.recipient.firstName }} {{
                    credential.recipient.lastName }}</a>
                <a class="text-primary underline" [href]="'mailto:' + credential.recipient.email">{{
                    credential.recipient.email }}</a>
                <span *ngIf="!credential.recipient.email"></span>
            </div>
        </div>
    </td>
    <td>
        <span
            class="project-tag inline-flex items-center bg-primary text-white px-2 py-1 font-medium">{{credential.project.name}}</span>
    </td>
    <td>
        <span *ngIf="credential.issueDate; else noIssueDate">
            {{ credential.issueDate }}
        </span>
        <ng-template #noIssueDate>
            <i class="pi pi-minus"></i>
        </ng-template>
    </td>
    <td>
        <span class="text-red-500" *ngIf="credential.expiryDate; else noExpiryDate">
            {{ credential.expiryDate }}
        </span>
        <ng-template #noExpiryDate>
            <i class="pi pi-minus"></i>
        </ng-template>
    </td>
    <td class="action-col gap-2">
        <button class="hover:border-primary bg-white flex items-center border py-2 px-4 rounded text-sm" [routerLink]="['detail', credential.id]">
            Open
        </button>
        <button class="hover:text-black text-gray-500 flex items-center text-sm">
            <i class="pi pi-cog"></i>
        </button>
    </td>
</tr>