<div class="bg-white employee-item rounded-lg overflow-hidden p-4 shadow-sm border-2 hover:shadow-lg">
    <div class="employee-item-content flex justify-between">
        <div class="flex flex-1">
            <div class="mb-4">
                <p-avatar
                    *ngIf="employeeInfo.imageUrl"
                    styleClass="mr-2" size="xlarge" shape="circle"
                    [image]="employeeInfo.imageUrl"></p-avatar>
                <img
                    *ngIf="!employeeInfo.imageUrl" 
                    class="avatar-img mr-2"
                    style="background: #CDE9EAFF; border-radius: 60px; width: 56px; height: 56px;" [src]="defaultImg"
                    [alt]="employeeInfo.employee.firstName">
            </div>
            <div class="ml-4 flex-1">
                <div class="mb-4 text-2xl font-bold">
                    <a [routerLink]="['detail', employeeInfo.employee.id]" class="text-black hover:text-primary">
                        <span>{{employeeInfo.employee.firstName}} {{employeeInfo.employee.lastName}}</span>
                    </a>
                </div>
                <div class="whitespace-nowrap">
                    <i class="pi pi-briefcase mr-3 text-gray-500"></i>
                    <span class="text-gray-500">{{employeeInfo.employee.position?.positionName}}</span>
                </div>
                <div>
                    <i class="pi pi-envelope mr-3 text-gray-500"></i>
                    <span class="text-gray-500">{{employeeInfo.employee.email || 'N/A'}}</span>
                </div>
                <div>
                    <i class="pi pi-phone mr-3 text-gray-500"></i>
                    <span class="text-gray-500">{{employeeInfo.employee.phoneNumber}}</span>
                </div>
                <div class="mt-8">
                    <contract-badge [currentContract]="employeeInfo.employee.currentContract ?? 0"></contract-badge>
                </div>
            </div>
        </div>
        <div>
            <p-button type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"
                styleClass="p-button-link"></p-button>
            <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
        </div>
    </div>
</div>