<div class="my-2 mb-4 font-bold flex justify-between">
    <h1 class="text-2xl text-primaryText">Courses</h1>
    <a [routerLink]="['course-form']">
        <p-button label="Create Course" icon="pi pi-plus"></p-button>
    </a>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-center mx-auto">
    <app-course-item *ngFor="let course of paginatedCourses" [course]="course"></app-course-item>
</div>
<div class="flex justify-between items-center">
    <span class="ml-4">Showing {{table.first + 1}} to
        {{
        (table.first + this.table.rows > table.totalRecord) ? table.totalRecord : (table.first + this.table.rows)
        }}
        of {{ table.totalRecord }} entries</span>
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="table.first" 
        [rows]="table.rows"
        [totalRecords]="table.totalRecord"
    ></p-paginator>
</div>
