<div class="mb-2 font-bold flex justify-between items-center">
  <div class="my-2 font-bold flex gap-2">
    <button (click)="goBack()">
      <i class="pi pi-angle-left font-bold"></i>
    </button>
    <h1 class="text-2xl">Students of {{listStudent?.course?.courseName}}</h1>
  </div>
  <div class="flex gap-2">
    <button
        class="hover:bg-primary hover:text-white flex items-center text-primary border border-primary font-bold py-2 px-4 rounded text-sm"
        (click)="navigateWithCourse()">
        Course Settings <i class="pl-2 pi pi-wrench"></i>
    </button>
    <p-button icon="pi pi-plus" styleClass="p-button-sm" label="Bulk Award"
      [class.opacity-50]="selectedStudentsCount === 0" [disabled]="selectedStudentsCount === 0"
      (click)="bulkAward()"></p-button>
  </div>
</div>
<div class="card-container mt-2">
  <div class="flex gap-4 items-center">
    <tekigent-screen-filter (getSearchValue)="searchValue($event)"></tekigent-screen-filter>
    <span [class.opacity-50]="selectedStudentsCount === 0" class="text-primary">{{selectedStudentsCount}}
      Students Selected</span>
  </div>
  <div class="mt-3">
    <tekigent-table (pagingInfo)="onPageChange($event)" [isPaginationShown]="true" [table]="tableData"
      [contentRef]="contentRef">
      <ng-template #contentRef let-rowData>
        <app-student-item [student]="rowData" (selectionChange)="onSelectionChange($event)"></app-student-item>
      </ng-template>
    </tekigent-table>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>