<div class="mb-2 font-bold flex justify-between items-center">
  <div class="my-2 font-bold flex gap-2">
    <button (click)="goBack()">
      <i class="pi pi-angle-left font-bold"></i>
    </button>
    <h1 class="text-2xl">Students of {{listStudent?.course?.courseName}}</h1>
  </div>
  <p-button icon="pi pi-plus" styleClass="p-button-sm" label="Bulk Award" (click)="reward()"></p-button>
</div>
<div class="card-container mt-2">
  <div class="flex justify-between items-center">
    <tekigent-screen-filter (getSearchValue)="searchValue($event)"></tekigent-screen-filter>
  </div>
  <div class="mt-3">
    <tekigent-table (pagingInfo)="onPageChange($event)" [isPaginationShown]="true" [table]="tableData"
      [contentRef]="contentRef">
      <ng-template #contentRef let-rowData>
        <app-student-item [student]="rowData"></app-student-item>
      </ng-template>
    </tekigent-table>
  </div>
</div>
<p-confirmDialog></p-confirmDialog>