<div class="mb-2 font-bold flex justify-between items-center">
  <div class="my-2 font-bold flex gap-2">
    <button (click)="goBack()">
      <i class="pi pi-angle-left font-bold"></i>
    </button>
    <h1 class="text-2xl text-primaryText">Credential #{{credentialDetail?.id}}</h1>
  </div>
  <p-button icon="pi pi-plus" styleClass="p-button-sm" label="Bulk Award" (click)="reward()"></p-button>
</div>
<div class="flex gap-8">
  <div class="flex-4">
    <h1 class="text-xl text-primaryText font-bold mb-3">Credential Information</h1>
    <form class="flex flex-1 flex-col gap-4">
      <div class="flex gap-4">
        <div>
          <label class="block text-gray-700 text-sm font-bold text-primaryText " for="display-name">
            Credential License ID
          </label>
          <input
            class="block shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="display-name" type="text" [value]="credentialDetail?.id">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold text-primaryText " for="identifier">
            Recipient ID
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="identifier" type="text" [value]="credentialDetail?.recipient?.id">
        </div>
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold text-primaryText " for="course-website">
          Recipient Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="course-website" type="url"
          [value]="(credentialDetail?.recipient?.firstName ?? '') + ' ' + (credentialDetail?.recipient?.lastName ?? '')">
      </div>
      <div>
        <label class="block text-gray-700 text-sm font-bold text-primaryText " for="description">
          Receipient Email Address
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="course-website" type="url" [value]="credentialDetail?.recipient?.email">
      </div>
      <div class="flex gap-4">
        <div class="flex-1">
          <label class="block text-gray-700 text-sm font-bold text-primaryText " for="skills">
            Issue Date
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="skills" type="date" [value]="credentialDetail?.issueDate">
        </div>
        <div class="flex-1">
          <label class="block text-gray-700 text-sm font-bold text-primaryText " for="category">
            Expiry Date
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="category" type="date" [value]="credentialDetail?.expiryDate">
        </div>
      </div>
      <p-button styleClass="p-button-sm" label="Save" (click)="saveChangeCredential()"></p-button>
    </form>
  </div>
  <div class="flex-6">
    <h1 class="text-xl text-primaryText font-bold mb-3">Credential Preview</h1>
    <div class="bg-gray-200 flex flex-col">
      <div>
        <img class="block mx-auto h-36 w-48 sm:mx-0 sm:shrink-0" [src]="credentialDetail?.project?.certificateImage" alt="Certificate" />
      </div>
    </div>
  </div>
</div>