<div class="card-container" *ngIf="(employeeOverview$ | async)?.id !== 0">
    <div class="flex justify-between">
        <div class="flex gap-4 w-full">
            <div class="w-32 h-32">
                <img class="avatar-img" style="background: #CDE9EAFF; border-radius: 50%;" [src]="profileImgUri"
                    [alt]="'default-image'">
            </div>
            <div class="flex-1">
                <div class="flex justify-between">
                    <div class="personal-info mb-8 flex flex-col gap-1">
                        <p class="font-bold text-2xl">{{firstName}} {{lastName}}</p>
                        <p>{{level}}
                            {{position}}</p>
                        <!-- <p>
                            <i class="pi pi-map-marker"></i>
                            <span class="ml-2">{{employee.address}}</span>
                        </p> -->
                    </div>
                    <div>
                        <p-button icon="pi pi-user-edit" label="Edit profile"></p-button>
                    </div>
                </div>
                <div class="job-info flex flex-col gap-4">
                    <div class="flex gap-4">
                        <div class="flex gap-4 items-center">
                            <i class="pi pi-user"></i>
                            <p>Skill</p>
                        </div>
                        <div class="tags-container">
                            <job-tag *ngFor="let skillSet of skillSets" [label]="skillSet"></job-tag>
                        </div>
                    </div>
                    <div class="flex gap-4">
                        <div class="flex gap-4 items-center">
                            <i class="pi pi-verified"></i>
                            <p>Certificate</p>
                        </div>
                        <div class="tags-container">
                            <job-tag *ngFor="let cert of certification" [label]="cert"></job-tag>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>