<div *ngIf="employeesInfo$ | async as employeesInfo" class="card-container carousel-container">
    <p class="card-title font-medium">New Employee</p>
    <ng-container *ngIf="employeesInfo.length < 3; else carousel">
        <div class="flex gap-4 flex-row w-full mt-2">
            <employee-card *ngFor="let employeeInfo of employeesInfo" [employeeInfo]="employeeInfo"></employee-card>
        </div>
    </ng-container>
    <ng-template #carousel>
        <div class="rounded-md mt-2">
            <p-carousel [value]="employeesInfo" [numVisible]="3" [numScroll]="3" [circular]="false" [showIndicators]="false"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-employeeInfo pTemplate="item">
                    <employee-card [employeeInfo]="employeeInfo"></employee-card>
                </ng-template>
            </p-carousel>
        </div>
    </ng-template>
</div>