<p class="font-bold text-2xl my-2 text-primaryText">Project</p>
<div class="flex justify-between">
    <div class="flex gap-2">
        <input type="text" class="form-control border border-primary rounded-lg pl-4"
            placeholder="Search for a group...">
        <p-dropdown class="bg-white" placeholder="Collections" [options]="collectionDropdown"
            dropdownIcon="pi pi-angle-down"></p-dropdown>
        <p-dropdown placeholder="Appearance" [options]="appearanceDropdown"
            dropdownIcon="pi pi-angle-down"></p-dropdown>
    </div>
    <div class="flex gap-2">
        <p-dropdown placeholder="Manage" [options]="fiterDropDown" dropdownIcon="pi pi-angle-down" (onChange)="onManageDropdownChange($event)"></p-dropdown>
        <p-button icon="pi pi-plus" styleClass="p-button-sm" label="New Project"
            (click)="openAddProjectModal()"></p-button>
    </div>
</div>
<div class="mt-4 flex flex-col gap-4">
    <project-item-card *ngFor="let project of paginatedProjects" [project]="project"></project-item-card>
</div>
<div class="flex justify-between items-center">
    <span class="ml-4">Showing {{table.first + 1}} to
        {{
        (table.first + this.table.rows > table.totalRecord) ? table.totalRecord : (table.first + this.table.rows)
        }}
        of {{ table.totalRecord }} entries</span>
    <p-paginator 
        (onPageChange)="onPageChange($event)" 
        [first]="table.first" 
        [rows]="table.rows"
        [totalRecords]="table.totalRecord"
    ></p-paginator>
</div>