<div class="card-container h-full flex flex-col">
    <p class="card-title">At glance</p>
    <div class="grid grid-cols-2 gap-4 flex-1">
        <div class="flex flex-col justify-center items-center gap-1">
            <div class="w-1/2">
                <tekigent-chart type="bar" [data]="barData" [options]="barOptions" [plugins]="plugins"></tekigent-chart>
            </div>
            <div class="font-bold">
                Skill gap
            </div>
        </div>
        <div class="flex flex-col justify-center items-center gap-4">
            <div class="competency-pie-container">
                <tekigent-chart type="doughnut" [data]="pieData" [options]="pieOptions" height="195"></tekigent-chart>
                <div class="text-center font-bold text-primary mt-4 text-2xl">
                    93%
                </div>
            </div>
            <div class="font-bold">
                Competency level
            </div>
        </div>
    </div>
</div>